header {
  height: 450px;
  background: url(Images/img2.jpg) center center;
  background-size: 1350px 450px; }

.btn1 {
  border-radius: 25px; }

.logo {
  height: 50px;
  width: 50px;
  margin: 10px 0px 0px 30px;
  float: left; }

.top {
  float: right;
  margin: 30px 30px 0px 0px; }
  .top a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none; }
    .top a:hover {
      color: black; }

h1 {
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
  clear: both;
  padding-top: 100px; }
  h1 span {
    display: inline-block;
    padding: 0.5em 0.2em;
    border: white solid 10px; }

.kicker {
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: black;
  line-height: 1; }

footer {
  background: url(Images/img2.jpg);
  background-size: cover;
  /*.content-wrap{
  	float: left;
  }*/ }
  footer .lockup {
    padding: 50px 30px;
    clear: both; }
  footer .copyright {
    margin: 0px;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6); }
  footer a {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    display: inline-block;
    margin-right: 10px; }
    footer a:hover {
      color: black; }

h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: #7956FA;
  text-align: center;
  padding: 100px 0 30px; }

.face {
  max-width: 780px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: distribute;
  -moz-box-pack: distribute;
  box-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute; }
  .face .face-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3; }
  .face [class^="icon"] {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #e5eaee; }
    .face [class^="icon"].icon1 {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; }
    .face [class^="icon"].icon2 {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2; }
    .face [class^="icon"].icon3 {
      -webkit-box-ordinal-group: 5;
      -webkit-order: 4;
      -ms-flex-order: 4;
      order: 4; }
    .face [class^="icon"].icon4 {
      -webkit-box-ordinal-group: 6;
      -webkit-order: 5;
      -ms-flex-order: 5;
      order: 5; }

@media screen and (max-width: 650px) {
  .face {
    display: block;
    text-align: center; }
    .face div {
      display: inline-block; }
      .face div .face-img {
        display: block;
        background-position: center center;
        width: auto;
        background-repeat: no-repeat;
        margin-bottom: 30px; } }
.blurb {
  max-width: 620px;
  padding: 0 15px;
  margin: 50px auto 50px;
  font-size: 24px;
  text-align: center;
  font-weight: 300px; }

.skill-lockup {
  max-width: 700px;
  margin: 100px auto;
  color: #999; }
  .skill-lockup::after {
    clear: both;
    content: "";
    display: table; }
  .skill-lockup .skill-unit {
    width: 350px;
    float: left; }
    .skill-lockup .skill-unit .skill-icons {
      font-size: 0;
      margin: 2px 0 30px; }
      .skill-lockup .skill-unit .skill-icons span {
        display: inline-block;
        height: 14px;
        width: 14px;
        background-color: #e5eaee;
        margin-right: 5px;
        border-radius: 50%; }
        .skill-lockup .skill-unit .skill-icons span:after {
          content: '';
          display: block;
          height: 10px;
          width: 10px;
          background: #fff;
          border-radius: 50%;
          margin: 2px; }
      .skill-lockup .skill-unit .skill-icons.skill-8 span:nth-child(n+9) {
        background: #7956FA; }

.alt-section {
  background: #e5eaee; }

.thumb-container {
  max-width: 960px;
  margin: 0px auto;
  padding-bottom: 100px; }
  .thumb-container::after {
    clear: both;
    content: "";
    display: table; }
  .thumb-container .thumb-unit {
    width: 25%;
    height: 150px;
    background: pink;
    display: block;
    float: left;
    padding-top: 20%;
    background-image: url(Images/img9.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }

body {
  font-family: 'Open Sans', sans-serif; }

/*# sourceMappingURL=main.css.map */
